@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Roboto+Mono:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;  
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;  
}

main {    flex: 1 1 100%;
}

header h1 {
    text-align: center;
    background-color: rgb(19, 19, 19);
    border: 5px solid greenyellow;
    color: aliceblue;
    margin: 20px;
    font-family: 'Roboto Mono', monospace;
}

.header-h1 {
    text-align: center;
    margin: 50px;
    font-family: 'Roboto Mono', monospace;
}

.about-header {
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 10px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.site {
    display: flex;
    background-color: rgb(19, 19, 19);
    max-width: 30%;
    border: 5px solid greenyellow;
    flex-direction: column;
    align-items: center;
}

.site h3 {
    margin: 10px;
}

.screenshots {
    max-width: 600px;
    width: 100%;
}

.profile-image {
    max-width: 300px;
    width: 100%;
    margin: 80px;
    object-fit: cover;
}

.margin {
    margin: 80px;
}

.about-topdiv {
    display: flex;
}

.link {
    margin-bottom: 10px;
}

.header-link {
    text-align: center;   
}

.header-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.margin-left {
    margin-right: 20px;
}

.nav__links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 20px;
}

.nav {
    margin: 10px;
}

.description {
    border: 1px solid;
    max-width: 500px;
    width: 90%;
    margin: 20px;
    font-family: 'Comfortaa', cursive;
}

.about-description {
    font-family: 'Comfortaa', cursive;
}

.profile-image-div {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}



.links {
    border: 2px dotted blue;
}

.description-h3 {
    text-align: center;
    color: aliceblue;
}

.description-p {
    margin: 10px;
    color: aliceblue;
}

.description a {
    color: white;
}

h2 {
    color: aliceblue;
    font-family: 'Roboto Mono', monospace;
}

.copyright {
    text-align: center;
    margin-top: 20px;
    background-color: rgb(19, 19, 19);
    border: 5px solid greenyellow;
    color: aliceblue;
    font-family: 'Roboto Mono', monospace;
}

@media (max-width: 972px) {
    .cards {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .site {
        max-width: 90%;
    }
}

@media (max-width: 770px) {
    .about-topdiv {
        flex-direction: column;
    }
}

@media (max-width: 440px) {
    .profile-image {
        max-width: 200px;
        width: 100%;
        margin-left: 50px;
    }

    .margin {
        margin: 20px;
    }


    
}