* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;  
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;  
}

main {    flex: 1 1 100%;
}

header h1 {
    text-align: center;
    background-color: rgb(19, 19, 19);
    color: aliceblue;
    margin: 20px;
}

.header-h1 {
    text-align: center;
    margin: 50px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.site {
    display: flex;
    background-color: rgb(19, 19, 19);
    max-width: 30%;
    border: 5px solid greenyellow;
    flex-direction: column;
    align-items: center;
}

.site h3 {
    margin: 10px;
}

.screenshots {
    max-width: 600px;
    width: 100%;
}

.link {
    margin-bottom: 10px;
}


.description {
    border: 1px solid;
    max-width: 500px;
    width: 90%;
    margin: 20px;
}



.links {
    border: 2px dotted blue;
}

.description-h3 {
    text-align: center;
    color: aliceblue;
}

.description-p {
    margin: 10px;
    color: aliceblue;
}

.description a {
    color: white;
}

h2 {
    color: aliceblue;
}

.copyright {
    text-align: center;
    margin-top: 20px;
    background-color: lightgrey;
}

@media (max-width: 972px) {
    .cards {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .site {
        max-width: 90%;
    }
}